<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Charts.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v15.1, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v15.1, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v15.1.Core, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v15.1, Version=15.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.DataAccess.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Utils.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>

    <webServices>
      <protocols>
        <add name="HttpPost"></add>
        <add name="HttpGet" ></add>
      </protocols>
    </webServices>
    
  </system.web>
  <connectionStrings>
    <add name="TTReturn" connectionString="Data Source=103.87.173.217;Initial Catalog=TTReturn;uid=itfuturz;Pwd=MyNewOffice@2020;pooling='true'"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>